.container {
    padding: 20px;
    text-align: center;
    background-color: rgb(78, 99, 165);
  }
  
  .header {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff6e6e !important; /* Forces the color to apply */
  }
  
  .parkList {
    list-style: none;
    padding: 0;
  }
  
  .parkItem {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #751111;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .link {
    text-decoration: none;
    color: #ff6e6e;
  }
  